language: php
php:
    - 5.3
    - 5.3.3
    - 5.4
    - 5.5
    - 5.6

script: vendor/bin/tester -p php -s tests

before_script:
    # Update composer
    - composer self-update

    # Install Nette Tester
    - composer install --no-interaction --dev --prefer-source
